ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    

}
li {
    float: left;
    
    

}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    background-color: white;
    text-decoration: none;

}
li a:hover {
    text-decoration: underline;
    background-color: white;
}
.main {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.main img {
    margin-left: 20px;
}
.text {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
